*{
  box-sizing: border-box;
  margin: 2px;
  padding: 2px;
}

#mainContainer{
  background-color: #fcd5d5;
}
.exercise1{
  min-height: 100px;
  min-width: 200px;
  background-color: #b1f0a6;
  border: 1.5px solid green;
  margin: 10px;
}
